html,
            body,
            #mapcontainer{
                padding:0;
                margin:0;
                height:100%;
                width:100%;
            }

            #layerlist{
                position: absolute;
                height: 313px;
                width: 284px;
                left: 200px;
                top: 100px;
                display: none;
            }

            #layerbutton{
                position: absolute;
                top: 100px;
                left: 30px;
                background-color: #e70606;
                color: rgb(247, 232, 22);                
                font-size: 10px;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;                
            }

    
            #basemap{
                position: absolute;
                height: 313px;
                width: 284px;
                left: 200px;
                top: 170px;
                display: none;
            }

            #basemapbutton{
                position: absolute;
                top: 170px;
                left: 30px;
                background-color: #d8e706;
                color: rgb(233, 29, 29);
                font-size: 10px;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block         
                
            }

            #legend{
                position: absolute;
                height: 313px;
                width: 284px;
                left: 180px;
                top: 240px;
                display: none;
            }

            #legendbutton{
                position: absolute;
                top: 240px;
                left: 30px;
                background-color: #e70682;
                color: rgb(12, 245, 32);
                font-size: 10px;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block
                
            }