html,
        body,
        #mapDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
        
        #layerList{
            position: absolute;
            height: 115px;
            width: 284px;
            left: 95px;
            top: 84px;
            display:none;       
        }
        #layerListButton{
                position:absolute;
                height: 25px;
                width: 69px;
                top: 170px;
                left: 12px;
        }
        
        